name: Batch module docker hub push

on:
  push:
    branches: [ feature/sentiment-batch ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt'

      - name: 저장소 Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          token: ${{ secrets.ACTION_TOKEN }}

      - name: update submodules
        run: git submodule update --remote

      - name: 스프링부트 애플리케이션 빌드
        run: ./gradlew bootJar

      - name: 도커 이미지 빌드
        run: sudo docker build -f Dockerfile-batch -t ${{ secrets.BATCH_DOCKER_IMG }} --platform linux/amd64 .

      - name: 도커 이미지 push
        run: |
          sudo docker login -u ${{ secrets.BATCH_DOCKER_USERNAME }} -p ${{ secrets.BATCH_DOCKER_PASSWORD }}
          sudo docker push ${{ secrets.BATCH_DOCKER_IMG }} 
